* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

:root {
    --main-color: #008080;
}

body {
    overflow: auto;
}

/* scroll bar */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00c5c5;
}
/* end scroll bar */

/* start header */

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    position: sticky;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    padding: 10px 5px;
    transition: 0.5s;
}

header nav a:first-child {
    background-color: var(--main-color  );
}

header nav a:hover {
    background-color: lightgray;
    letter-spacing: 1px;
}

header {
    position: relative;
}
header nav .drop {
    position: relative;
}

header nav .drop ul {
    display: inline-block;
    width: 200px;
    list-style: none;
    background-color: white;
    color: black;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}
header nav .drop ul li {
    padding: 3px;
}

header nav .drop ul li:hover {
    background-color: #00c5c5;
    color: white;
}
.fa-magnifying-glass {
    padding: 10px;
}
.fa-magnifying-glass:hover {
    background-color: var(--main-color);
}

@media (max-width: 500px) {
    header, header nav a {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

/* end header */

/* start image */
.image {
    position: relative;
}

.image img {
    width: 100%;
    height: 47vh;
}

.image button {
    position: absolute;
    left: 20%;
    bottom: 20%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.image button:hover {
    background-color: var(--main-color);
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    .image img {
        width: 100%;
        height: 100%;
    }
}
/* end image */

/* start main */
main {
    margin: 200px 0;
    text-align: center;
    position: relative;
}

#back-to-top {
    background-color: var(--main-color);
    color: white;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
}

#back-to-top:hover {
    background-color: #00c5c5;
}
/* start team */
main .team h2, p {
    text-transform: uppercase;
}
main .team p {
    margin-bottom: 100px;
}
main .team .team-member {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}
main .team div img {
    border-radius: 50%;
}
main .team div img:hover {
    opacity: 0.7;
}
/* end team */

/* start work */
main .work {
    margin: 60px 0;
    background-color: #333;
    color: white;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main .work  .card {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: auto;
    border-radius: 5px;
}
main .work  .card:not(:first-child) {
    background-color: white;
    color: black;
    text-align: start;
    text-transform: capitalize;
}
main .work  .card img {
    width: 100%;
}
main .work  .card div h3, h4, p {
    padding-left: 10px;
    line-height: 25px;
}

@media (max-width: 900px) {
    main .work {
        flex-wrap: wrap;
    }
}
/* end work */

/* start price */
main .price {
    margin: 100px 0;
}
main .price .container {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main .price .container div {
    width: 100%;
    border: #333 solid 1px;
}
main .price .container div:hover{
    box-shadow: #333 5px 5px 5px;
}

main .price .container div h2 {
    padding: 20px 0;
    background-color: black;
    font-weight: bold;
    color: white;
}
main .price .container div p {
    padding: 10px 0;
    font-weight: bold;
}
main .price .container section {
    padding: 10px 0;
    text-align: center;
    border: none;
}
main .price .container section p:nth-child(1) {
    font-size: 35px;
    padding: 0;
}
main .price .container section p:nth-child(2) {
    color: lightgray;
    padding: 0;
}

main .price .container section {
    border: none;
    padding: 20px 0;
}

main .price .container section button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
main .price .container section button:hover {
    background-color: #00c5c5;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    main .price .container {
        flex-wrap: wrap;
    }
}

/* end price */

/* end main */

