* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

:root {
    --main-color: #008080;
}
html, body {
    scroll-behavior: smooth;
}
/* scroll bar styles */
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
    border-radius:2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #00c5c5;
}
/* start header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    display: inline-block;
    padding: 10px 5px;
    transition: 0.5s;
}

header nav a:first-child {
    background-color: var(--main-color);
}

header nav a:hover {
    background-color: lightgray;
    letter-spacing: 1px;
}

header nav .drop {
    position: relative;
}

header nav .drop ul {
    display: inline-block;
    width: 200px;
    list-style: none;
    background-color: white;
    color: black;
    padding: 5px;
    text-transform: uppercase;
    margin-top: 5px;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
}
header nav .drop ul li {
    padding: 3px;
}

header nav .drop ul li:hover {
    background-color: #00c5c5;
    color: white;
}
.fa-magnifying-glass {
    padding: 10px;
}
.fa-magnifying-glass:hover {
    background-color: var(--main-color);
}

@media (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header nav a {
        padding: 8px;
        width: 100%;
        text-align: center;
    }
}
/* end header */

/* start image home */
.image {
    position: relative;
}

.image img {
    width: 100%;
    height: 47vh;
}

.image button {
    position: absolute;
    left: 20%;
    bottom: 20%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.5s;
}

.image button:hover {
    background-color: var(--main-color);
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    .image img {
        width: 100%;
        height: 100%;
    }
}
/* end image home */

/* start main */
main {
    margin-top: 100px;
    text-align: center;
    position: relative;
}
/* back to top btn */
#back-to-top {
    background-color: var(--main-color);
    color: white;
    padding: 5px;
    border-radius: 3px;
    outline: none;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    bottom: 15px;
    display: none;
}

#back-to-top:hover {
    background-color: #00c5c5;
}

/* start team section */
main .team h2, p {
    text-transform: uppercase;
}
main .team p {
    margin-bottom: 100px;
}
main .team .team-member {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    justify-content: center;
}
main .team div img {
    border-radius: 50%;
}
main .team div img:hover {
    opacity: 0.7;
}
/* end team section */

/* start work section */
main .work {
    margin: 60px 0;
    background-color: #333;
    color: white;
    padding: 5px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

main .work  .card {
    width: 400px;
    height: 400px;
    margin: 10px;
    overflow: auto;
    border-radius: 5px;
}
main .work  .card:not(:first-child) {
    background-color: white;
    color: black;
    text-align: start;
    text-transform: capitalize;
}
main .work  .card img {
    width: 100%;
}
main .work  .card div h3, h4, p {
    padding-left: 10px;
    line-height: 25px;
}

@media (max-width: 900px) {
    main .work {
        flex-wrap: wrap;
    }
}
/* end work section */

/* start price section */
main .price {
    margin: 100px 0;
}
main .price .container {
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
main .price .container div {
    width: 100%;
    border: #333 solid 1px;
    border-radius: 3px;
}
main .price .container div:hover{
    box-shadow: #333 5px 5px 5px;
}

main .price .container div h2 {
    padding: 20px 0;
    background-color: black;
    font-weight: bold;
    color: white;
}
main .price .container div p {
    padding: 10px 0;
    font-weight: bold;
}
main .price .container section {
    padding: 10px 0;
    text-align: center;
    border: none;
}
main .price .container section p:nth-child(1) {
    font-size: 35px;
    padding: 0;
}
main .price .container section p:nth-child(2) {
    color: lightgray;
    padding: 0;
}

main .price .container section {
    border: none;
    padding: 20px 0;
}

main .price .container section button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
main .price .container section button:hover {
    background-color: #00c5c5;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    main .price .container {
        flex-wrap: wrap;
    }
}

/* end price section */

/* start contact section */

main .contact {
    margin: 100px 0;
    padding: 20px 0;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .contact .data {
    text-align: start;
}
main .contact .data h2 {
    width: 150px;
    border-bottom: solid 4px var(--main-color);
}
main .contact .data h2, h4, p {
    margin-bottom: 10px;
}

main .contact .data .fa-solid, .fa-regular {
    color: var(--main-color);
}

main .contact .inputs {
    background-color: #fff;
    box-shadow: #333 5px 5px 5px;
    padding: 20px 0;
    border-radius: 3px;
}
main .contact .inputs input {
    display: block;
    width: 400px;
    margin: 10px;
    padding: 5px 0;
    border: none;
    outline: none;
    border-bottom: solid 2px #333;
    transition: 0.5s;
}
main .contact .inputs input:focus {
    outline: none;
    transform: scale(1.05);
}

main .contact .inputs .submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .contact .inputs .submit div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .contact .inputs .submit input[type="checkbox"] {
    width: 10px;
    transform: scale(1.5);
}

main .contact .inputs .submit button {
    border: none;
    outline: none;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
main .contact .inputs .submit button:hover {
    background-color: #00c5c5;
    letter-spacing: 1px;
}

@media (max-width: 767px) {
    main .contact {
        flex-direction: column;
    }
    main .contact .data {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    main .contact .data h2 {
        width: 100%;
    }
    main .contact .inputs {
        width: 100%;
    }
    main .contact .inputs input {
        width: 100%;
        margin: 10px 0;
    }
}
/* end contact section */

/* end main */

/* start footer */

.footer {
    margin-top: 100px;
    background-color: black;
    color: white;
    text-align: center;
}

.footer #map img {
    width: 100%;
    height: 100%;
}
.footer .social {
    padding: 20px 0;
}
.footer .social div {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.footer .social div .fa-brands {
    width: 30px;
    color: var(--main-color);
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}
.footer .social div .fa-brands:hover {
    color: #00c5c5;
    transform: scale(1.3);
}
.footer .social span {
    color: var(--main-color);
}

/* end footer */
